.background {
  background-color: black;
  //   width: 100%;

  h1 {
    font-size: 40px;
    color: white;
    padding-top: 2rem;
    text-align: center;
    letter-spacing: 0.9rem;
  }
}
.headphones-product {
  padding-top: 2rem;
}
.flex-product {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 8rem;
  align-content: center;
  .headphones-img {
    width: 300px;
    border-radius: 10px;
  }
  h1 {
    color: #d87d4a;
    letter-spacing: 0.5rem;
  }
  h3 {
    letter-spacing: 0.1rem;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
  }
  p {
    max-width: 500px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .check-product {
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all;
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 125, 74);
    border: none;
  }
  .check-product:hover {
    background-color: rgba(255, 166, 0, 0.371);
    transform: scale(0.7);
    color: black;
  }
}
.flex-btn {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 2rem;
  .padd {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    gap: 1rem;
    margin-top: 1rem;
    button {
      border: none;
      font-size: 15px;
      font-weight: bolder;
      outline: none;
      padding: 1rem;
      cursor: pointer;
    }
    p {
      font-size: 19px;
    }
  }
  .cart-btn {
    margin-top: 1rem;
    font-weight: bolder;
    cursor: pointer;
    padding: 15px 20px;
    transition: all;
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 125, 74);
    border: none;
  }
  .cart-btn:hover {
    background-color: rgba(255, 166, 0, 0.371);
    transform: scale(0.7);
    color: black;
  }
}
.product-img {
  width: 450px;
  border-radius: 10px;
}
.product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.gallery-images {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;

  img {
    border-radius: 10px;
  }
}
.recommend-products {
  text-align: center;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .like-btn {
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all;
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 125, 74);
    border: none;

    margin-left: auto;
    margin-right: auto;
  }
  .like-btn:hover {
    background-color: rgba(255, 166, 0, 0.371);
    transform: scale(0.7);
    color: black;
  }

  img {
    width: 320px;
    border-radius: 10px;
  }
  h5 {
    padding-top: 0.8rem;
    font-size: 1.1rem;
  }
}
