.icon-close {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.popup-page {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(110, 108, 108, 0.434);
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
}
.overall-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 0.1rem;
  height: 40%;
  border-radius: 6px;
  background-color: white;
}
.notf-cart {
  position: absolute;
  top: 1.5rem;
  right: 10rem;
  background-color: #d87d4a;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;

  p {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.cart-heading {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 18rem;
}
.background-popup {
  display: flex;
  justify-content: space-evenly;

  position: relative;
  p {
    font-size: 14px;
  }
  .flex-btn {
    position: relative;
    bottom: 1rem;
    .padd {
      button {
        border: none;

        font-size: 13px;
        font-weight: bolder;
        outline: none;
        padding: 0.7rem;
        cursor: pointer;
      }
      .content {
        font-size: 14px;
      }
    }
  }
}
.cart-img {
  width: 60px;
  border-radius: 5px;
}
.background {
  background-color: black;
  //   width: 100%;

  h1 {
    font-size: 40px;
    color: white;
    padding-top: 2rem;
    text-align: center;
    letter-spacing: 0.9rem;
  }
}

.headphones-product {
  padding-top: 2rem;
}
.flex-product {
  margin-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 8rem;
  align-content: center;
  .headphones-img {
    width: 300px;
    border-radius: 10px;
  }
  h1 {
    color: #d87d4a;
    letter-spacing: 0.5rem;
  }
  h3 {
    letter-spacing: 0.1rem;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
  }
  p {
    max-width: 500px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .check-product {
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all;
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 125, 74);
    border: none;
  }
  .check-product:hover {
    background-color: rgba(255, 166, 0, 0.371);
    transform: scale(0.7);
    color: black;
  }
}
.flex-btn {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 2rem;
  .padd {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    gap: 1rem;
    margin-top: 1rem;
    button {
      border: none;
      font-size: 15px;
      font-weight: bolder;
      outline: none;
      padding: 1rem;
      cursor: pointer;
    }
    p {
      font-size: 19px;
    }
  }
  .cart-btn {
    margin-top: 1rem;
    font-weight: bolder;
    cursor: pointer;
    padding: 15px 20px;
    transition: all;
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 125, 74);
    border: none;
  }
  .cart-btn:hover {
    background-color: rgba(255, 166, 0, 0.371);
    transform: scale(0.7);
    color: black;
  }
}
.features-container {
  h4 {
    font-weight: bolder;
    font-size: 25px;
  }
  p {
    line-height: 30px;
  }
}
.product-img {
  width: 450px;
  border-radius: 10px;
}
.product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.gallery-images {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;

  img {
    border-radius: 10px;
  }
}
.recommend-products {
  text-align: center;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .like-btn {
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all;
    transition-duration: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 125, 74);
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .like-btn:hover {
    background-color: rgba(255, 166, 0, 0.371);
    transform: scale(0.7);
    color: black;
  }
  .recommend-btn {
    margin-left: 5rem;
  }
  img {
    width: 320px;
    border-radius: 10px;
  }
  h5 {
    padding-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }
}
