.navbar {
  border-bottom: 1px solid rgb(151, 151, 151);
  width: 80%;
  margin-left: 7.5rem;
  padding: 30px 20px;

  align-items: center;
}
.home-background {
  background-image: url(/Assets/home/desktop/image-hero.jpg);
  width: 100%;
  height: 100vh;
  background-position: center top 10%;
  background-repeat: no-repeat;
  background-size: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.link {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin: 1rem;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #d87d4a;
  bottom: 0;
  top: 3.5rem;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover {
  color: #d87d4a;
}
.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: #d87d4a;
}
.background-text {
  margin-left: 7.5rem;
  padding-top: 8rem;
}
.button {
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 15px 30px;
  transition: all;
  transition-duration: 500ms;
  color: rgb(255, 255, 255);
  background-color: rgb(216, 125, 74);
  border: none;
}
.button:hover {
  background-color: rgba(255, 166, 0, 0.371);
  transform: scale(0.7);
  color: bisque;
}

.container-products {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 2rem;
  margin-top: 10rem;
}
.cont-img {
  position: absolute;
  width: 200px;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.products1 {
  background-color: rgb(241, 241, 241);
  height: 80px;
  padding: 110px;
  top: 90px;
  position: relative;
  text-align: center;
  border-radius: 8px;
}
main {
  display: flex;
}
.big-image {
  margin-top: 10rem;
  background-color: rgb(216, 125, 74);
  width: 72%;
  height: 500px;
  margin-left: 12rem;
  border-radius: 8px;
}
.container-img {
  width: 75%;
  height: 500px;
  background-image: url(/Assets/home/desktop/image-speaker-zx9.png);
  background-size: 320px;
  background-position: center center;
  background-repeat: no-repeat;
}

.more {
  h1 {
    font-size: 50px;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
}
.more {
  p {
    font-size: 16px;
    color: white;
    max-width: 400px;
  }
}
.btn {
  margin-top: 1rem;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 17px 30px;
  transition: all;
  transition-duration: 500ms;
  color: rgb(255, 255, 255);
  background-color: rgb(16, 16, 16);
  border: none;
}
.btn:hover {
  background-color: white;
  transform: scale(0.7);
  color: black;
}

.second-section {
  display: flex;
  position: relative;
  top: -100px;
  margin-left: 12rem;
  width: 72%;
  height: 300px;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
  justify-content: center;
  margin-top: 10rem;
}

.speaker-img {
  width: 100%;
  height: 300px;
  background-image: url(/Assets/home/desktop/image-speaker-zx7.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 8px;
}
.btn-random {
  color: rgb(16, 16, 16);
  border: 1px solid #101010;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 17px 30px;
  transition: all;
  transition-duration: 500ms;
}

.btn-random:hover {
  color: white;
  background-color: #101010;
  border: none;
  transform: scale(0.7);
}

.img-ear {
  border-radius: 8px;
  width: 450px;
}

.second-product {
  background-color: rgb(241, 241, 241);
  width: 35%;
  padding-top: 50px;
  padding-left: 50px;
  border-radius: 8px;
}
.product-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* ends here */

.to-last {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 90px;
  flex-wrap: wrap-reverse;
}

.left-color {
  color: rgb(216, 125, 74);
}
.left-paragrh h1 {
  font-size: 30px;
  max-width: 300px;
}

.left-paragrh p {
  font-size: 17px;
  max-width: 500px;
  letter-spacing: 0rem;
  padding-top: 0.9rem;
}
.pic-gear {
  width: 490px;
  border-radius: 3px;
}
